<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Mercadito</title>
	<link rel="shortcut icon" href="../img/icon.png" >
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="card__center background__div">
		<div class="container pt-3">
		  <div class="row justify-content-sm-center">
		    <div class="col-sm-6 col-md-4">
		      <div class="card text-center">
		        <div class="card-header">
		          Gerenciador de produto - Mercadito
		        </div>
		        <div class="card-body">
					<img class="img__logo" src="../img/logo.svg">
					<form class="form-signin">
						<input type="text" class="form-control mb-2" placeholder="Login" required autofocus>
						<input type="password" class="form-control mb-2" placeholder="Senha" required>
						<button class="btn btn-lg btn-primary btn-block mb-1" type="submit">Entrar</button>
					</form>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</body>
</html>